# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.env.*
*.sqlite3

# Virtual environment
venv/
pyvenv.cfg
Lib/
Scripts/

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Byte-compiled / caches
*.pyc
*.pyo
*.pyd
*.cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# System files
.DS_Store
Thumbs.db
